body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#form {
    width: 0;
    visibility: hidden;
    transition: all 1s;
    height: 100vh;
    overflow-y: scroll;
}

#form::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;

}

#form::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

#form::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));

}